<p id="notice"><%= notice %></p>

<div class="avatar">
  <% if @profile %>
  <%= image_tag @profile.avatar.url(:medium) %>
  <% end %>
</div>

<h1 class="fonte-bacana"><%= @profile.try(:name) %></h1>

<p>
  Olá, meu nome é <b><%= @profile.try(:name) %></b>
</p>

<h3 class="fonte-bacana">Biografia</h3>
<span class="div-bio">
  <%= @profile.try(:bio) %>
</span>

<p>
  <h3 class="fonte-bacana">Minhas habilidades são:</h3>
  <p>
    <ul>
      <% if @profile && @profile.skills%>
      <% @profile.skills.each do |skill| %>
      <li class="atributos"><%= skill.name%></li>
      <% end %>
      <% end %>
    </ul>
  </p>
</p>


<h3 class="fonte-bacana">Jobs:</h3>

<% if @profile && @profile.jobs%>
<% @profile.jobs.each do |job| %>
<div class="div-job">
  <div class="avatar img-job">
    <%= image_tag job.image.url(:medium) %>
  </div>
  <div ><%= job.title %> <br/> <%= job.description %></div>
</div>
<%end%>
<% end %>
