
<p id="notice"><%= notice %></p>
<section class="section">
  <div class="avatar">
    <% if @profile %>
    <%= image_tag @profile.avatar.url(:medium) %>
    <% end %>
  </div>
  <h1 class="title">
    <%= @profile.try(:name) %>
  </h1>
  <span class="description">
    Olá, meu nome é <b><%= @profile.try(:name) %></b>
  </span>
</section>


<section class="section">
  <h3 class="sub-title">Biografia</h3>
  <span class="description">
    <%= @profile.try(:bio) %>
  </span>
</section>


<section class="section">
  <h3 class="sub-title">Minhas habilidades são:</h3>
  <ul>
    <% if @profile && @profile.skills%>
    <% @profile.skills.each do |skill| %>
    <li class="atributos"><%= skill.name%></li>
    <% end %>
    <% end %>
  </ul>
</section>


<section class="section">
  <h3 class="sub-title">Jobs:</h3>
  <% if @profile && @profile.jobs%>
    <% @profile.jobs.each do |job| %>
      <div class="job">
        <div class="job-image"><%= image_tag job.image.url(:medium) %></div>
        <%= job.title %> <br/> <%= job.description %>
      </div>
    <%end%>
  <% end %>
</section>
